<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        <main class="page-content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
                {{ partial "footer.html" }}
            </div>
        </main>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
              document.querySelectorAll('.sidenote-number').forEach(function (el) {
                el.addEventListener('click', function (e) {
                  e.preventDefault();
                  el.classList.toggle('active');
                });
              });
            });
        </script>
    </body>
</html>
