{{- $posts := "" -}}

{{- if .section -}}
    {{- $posts = (where site.RegularPages "Section" .section) -}}
{{- else -}}
    {{- if (eq .context.Kind "taxonomy") -}}
        {{- $posts = .context.Pages -}}
    {{- else -}}
        {{- if (eq .context.Kind "term") -}}
            {{- $posts = .context.Data.Pages -}}
	{{- else -}}
            {{- $posts = site.RegularPages }}
	{{- end -}}
    {{- end -}}
{{- end -}}

{{- $limit_exceeded:= "" -}}
{{- if (and .limit (gt (len $posts) .limit)) -}}
    {{- $limit_exceeded = true -}}
{{- else -}}
    {{- $limit_exceeded = false -}}
{{ end }}

{{- if (gt (len $posts) 0) }}
    {{- if .limit }}
        {{ $posts = (first .limit $posts ) }}
    {{ end }}
        {{- range $post := where $posts "Params.exclude_from_listing" "ne" true -}}
        <div class="hover-wrapper">
            <li class="hover-container">
                <a href="{{ $post.Permalink | relURL }}" class="hover-link">{{ $post.Title }}</a>
            </li>
            {{- with $post.Params.featured_image }}
                <img src="{{ . }}" alt="{{ $post.Params.image_alt | default "post image" }}" class="post-image">
            {{- end }}
        </div>
        {{ end }}
        {{- if and .show_more $limit_exceeded }}
            <li><a href="{{ .show_more_url | relURL }}">{{ .show_more_text | default "Show more..." }}</a></li>
        {{ end }}
{{ end }}
