// Font definitions
// ET Book font face definitions
@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff")
    format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  unicode-range: U+0000-10FFFF;
}

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff")
    format("woff");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  unicode-range: U+0000-10FFFF;
}

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff")
    format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  unicode-range: U+0000-10FFFF;
}

/* Cairo - arabic */
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo/cairo-v28-arabic_latin-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF,
    U+1EE00-1EEFF;
}

/* Noto Emoji */
@font-face {
  font-family: "Noto Emoji";
  src: url("/fonts/noto-emoji/noto-emoji-v53-emoji-300.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+1F700-1F77F,
    U+1F780-1F7FF, U+1F800-1F8FF, U+1F900-1F9FF, U+1FA00-1FA6F, U+1FA70-1FAFF,
    U+2600-26FF, U+2700-27BF, U+FE00-FE0F, U+1F1E6-1F1FF;
}

// -------------- THEME SWITCHER -------------- //
@mixin theme(
  $--bg-color,
  $--primary-text-color,
  $--secondary-text-color,
  $--link-color,
  $--highlight,
  $--hr-color,
  $--sidenote-number-color,
  $--theorem-background-color,
  $--theorem-color,
  $--lemma-color,
  $--definition-color,
  $--corollary-color,
  $--proposition-color,
  $--inline-code
) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  figure p {
    color: $--primary-text-color;
  }

  a {
    color: $--link-color;
    text-decoration: none;

    &:hover {
      color: darken($--link-color, 10%);
      text-decoration: none;
    }
  }

  details {
    border: 1px solid $--primary-text-color;
  }

  details summary {
    color: $--primary-text-color;
  }

  details[open] summary {
    border-bottom: 1px solid $--primary-text-color;
  }

  *:target {
    background: $--highlight;
    color: $--primary-text-color;
  }

  hr {
    border: 0.5px solid $--hr-color;
  }
  table,
  th,
  td {
    border: thin solid $--primary-text-color;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  figcaption {
    color: $--secondary-text-color;
  }

  blockquote {
    border: thin solid $--primary-text-color;
  }

  // inline code
  code:not(pre > code) {
    color: $--inline-code;
  }

  // Sidenote colors
  .sidenote-number::after {
    color: $--sidenote-number-color;
  }
  .sidenote::before {
    color: $--sidenote-number-color;
  }
  @media screen and (max-width: 760px) {
    .sidenote {
      border: 1px solid $--sidenote-number-color;
    }
  }

  // Theorem colors
  .theorem-env.theorem {
    background-color: $--theorem-background-color;
    border-left-color: $--theorem-color;
    .theorem-type {
      color: $--theorem-color;
    }
  }

  .theorem-env.lemma {
    background-color: $--theorem-background-color;
    border-left-color: $--lemma-color;
    .theorem-type {
      color: $--lemma-color;
    }
  }

  .theorem-env.definition {
    background-color: $--theorem-background-color;
    border-left-color: $--definition-color;
    .theorem-type {
      color: $--definition-color;
    }
  }

  .theorem-env.corollary {
    background-color: $--theorem-background-color;
    border-left-color: $--corollary-color;
    .theorem-type {
      color: $--corollary-color;
    }
  }

  .theorem-env.proposition {
    background-color: $--theorem-background-color;
    border-left-color: $--proposition-color;
    .theorem-type {
      color: $--proposition-color;
    }
  }
}

@mixin dark-appearance {
  @include theme(
    #222530,
    // bg color
    #e0e0e0,
    // primary text color
    #2c2f36,
    // secondary text color
    #6c8edc,
    // link color
    #3a3f4e,
    // highlight color
    #e0e0e07f,
    // hr color
    #d08770,
    // sidenote number color
    #2d33456f,
    // theorem bg (dark)
    #6c8edc,
    // theorem border
    #a3be8c,
    // lemma border
    #ebcb8b,
    // definition border
    #b48ead,
    // corollary border
    #88c0d0,
    // proposition border
    #97c279 // inline-code color
  );
}

@mixin light-appearance {
  @include theme(
    #fefcf0,
    // bg color
    #1e1e1e,
    // primary text color
    #777777,
    // secondary text color
    #4b63b8,
    // link color
    #e4e8ec,
    // highlight color
    #1e1e1e4f,
    // hr color
    #d33f49,
    // sidenote number color
    #efefef80,
    // theorem bg (light)
    #d33f49,
    // theorem border
    #4b63b8,
    // lemma border
    #22863a,
    // definition border
    #c18401,
    // corollary border
    #6f42c1,
    // proposition border
    #0b1007 // inline-code color
  );
}

body[a="dark"] {
  @include dark-appearance;
}
body[a="light"] {
  @include light-appearance;
}

@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    @include dark-appearance;
  }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] {
    @include light-appearance;
  }
}

// -------------------------------------------- //

html {
  height: 100%;
}

body {
  font-family: "Noto Emoji", "Cairo", "et-book", serif;
  font-size: 22px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  counter-reset: sidenote-counter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

p {
  margin: 1.4rem 0;
}

li {
  margin: 0.4rem 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  text-align: center;
  margin: 2rem 0;
}

pre {
  width: 100%;
  padding: 1em 0em;
  font-size: 16px;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.4rem;
}

pre,
code {
  tab-size: 4;
  -o-tab-size: 4; /* For Opera compatibility */
  -moz-tab-size: 4; /* For Firefox compatibility */
}

code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

code:not(pre > code) {
  padding: 0.1em;
  font-size: 75%;
  font-weight: 600;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

details {
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-style: italic;
  font-weight: 600;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details summary {
  text-decoration: none;
}

details[open] summary {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toc {
  padding: 1rem;
}

// ---------------- Content Layout ------------------------ //

.w {
  max-width: 55%;
  margin: 0 2rem 0 2rem;
  padding: 0 2rem 0 2rem;
  text-align: justify;
}

/* ======================================================================== */
/* Math Styling                                                             */
/* ======================================================================== */

mjx-container[display="true"] {
  overflow-x: auto;
  display: block;
  max-width: 100%;
  padding: 0.2rem 0;
}

mjx-container[display="true"] > svg {
  max-width: 100% !important;
  height: auto !important;
}

/* ======================================================================== */
/* SIDENOTES                                                                */
/* ======================================================================== */

.sidenote-wrapper {
  display: inline;
  margin: 0rem;
  padding: 0rem;
  counter-increment: sidenote-counter;
}

.sidenote-number::after {
  content: counter(sidenote-counter);
  font-weight: 800;
  font-size: 0.7em;
  vertical-align: top;
  cursor: default;
}

.sidenote {
  width: 45%;
  float: right;
  clear: right;
  position: relative;
  margin: 0rem -63% 0rem 0rem;
  font-size: 16px;
  padding: 1rem;
}

.sidenote::before {
  content: counter(sidenote-counter);
  font-weight: 800;
  font-size: 0.85em;
  vertical-align: super;
  text-decoration: none;
}

// Make images in sidenotes behave
.sidenote img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 0.5rem;
}

/* ======================================================================== */
/* THEOREM ENVIRONMENT                                                      */
/* ======================================================================== */

.theorem-env {
  margin: 1rem 0rem 1rem;
  padding: 0.5rem 1rem 0.5rem;
  border-left: 2px solid;

  .theorem-head {
    margin-bottom: 0.4rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .theorem-type {
    font-style: italic;
    font-weight: 600;
  }

  .theorem-label {
    margin-left: 0.4rem;
  }

  .theorem-body {
    p,
    ul,
    ol {
      width: 100%;
      margin: 0rem;
    }
  }
}

/* ======================================================================== */
/* BACK LINK                                                                */
/* ======================================================================== */

.back-link {
  margin: 0.5rem 0rem 0rem -3rem;
  position: sticky;
  top: 20px;
}

/* ======================================================================== */
/* MOBILE RESPONSIVENESS                                                    */
/* ======================================================================== */

@media screen and (max-width: 760px) {
  .w {
    max-width: 100%;
    margin: 0 auto 0 0;
    padding: 1rem 1rem;
    text-align: justify;
  }

  mjx-container[display="true"] {
    display: block !important;
    width: 100% !important;
    clear: both;
    position: static !important;
  }

  // ----------- Sidenotes ------------ //

  .sidenote-wrapper {
    position: relative;
    display: inline;
  }

  .sidenote-number {
    cursor: pointer;
  }

  .sidenote-number::after {
    content: counter(sidenote-counter);
    text-decoration: underline;
    vertical-align: super;
  }

  .sidenote::before {
    text-decoration: underline;
  }

  .sidenote {
    width: 100%;
    clear: both;
    display: none;
    position: static;
    box-sizing: border-box;
    margin: 1.5rem 0 1.5rem;
  }

  .sidenote-number.active + .sidenote {
    display: block;
  }

  // ----------- Theorem ------------ //
  .theorem-env {
    clear: both;
    margin: 1rem -0.5rem 1rem;
  }

  // ---------- Details ------------- //
  details {
    margin: 1rem -0.5rem 1rem;
  }

  // --------- Back link ------------ //
  .back-link {
    margin: 0.5rem 0rem 0rem 0rem;
    position: static;
  }
}
